.day {
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    &-heart {
        position: relative;
    }
    &-icon {
        font-size: 50px;
        color: #82ebd4;
    }
    &-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}